.image-zoomer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas-container {
  position: relative;
  margin-top: 1em;
}
canvas {
  border: 1px solid #ccc;
  background: #222;
}
.zoom-canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 2;
}
