/* src/styles/element-variables.scss */

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #039393,
    ),
    "success": (
      "base": #1c977d,
    ),
    "warning": (
      "base": #ec8c33,
    ),
    "danger": (
      "base": #ec4f33,
    ),
    "error": (
      "base": #ec4f33,
    ),
    "info": (
      "base": #5b5b5b,
    ),
  ),

  $bg-color: (
    "": #242424,
    "page": #242424,
    "overlay": #242424,
  ),
  $border-color: (
    "": #039393,
    "light": #414141,
    "lighter": #5b5b5b,
    "extra-light": #6f6f6f,
  ),
  $text-color: (
    "": rgba(255, 255, 255, 0.87),
    "regular": rgba(255, 255, 255, 0.87),
  ),
  $input: (
    bg-color: #414141,
    text-color: rgba(255, 255, 255, 0.87),
  ),

  $button: (
    divide-border-color: #6f6f6f,
    text-color: rgba(255, 255, 255, 0.87),
  ),
  $fill-color: (
    "": #039393,
    "light": #059c9c,
    "lighter": #05d8d8,
    "extra-light": #04f5f5,
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;
